<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/blog">2 Bros Brewing</span>
    <span class="spacer"> </span>
    <div *ngIf="auth.afAuth.authState| async as user; else showLogin">
      <button mat-raised-button color="accent" routerLink="/dashboard">Nueva Entrada</button>
      <button mat-button (click)="auth.logout()">Logout</button>
    </div>
    <ng-template #showLogin>
      <button mat-button (click)="auth.login()">Autenticar con Google</button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>