<section>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Nueva Entrada
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="Titulo del post" [(ngModel)]="title">
      </mat-form-field>
      <br>
      <mat-form-field>
        <textarea rows=10 matInput placeholder="Contenido del Post" [(ngModel)]="content"></textarea>
      </mat-form-field>
      <br>
      <button mat-raised-button color="accent" (click)="createPost()" [disabled]="!title||!content">{{buttonText}}</button>
    </mat-expansion-panel>
  </mat-accordion>
</section>